<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="copytext">
        <p>
          I built this website with <a href="https://angular.io/">Angular</a>.
          Cloud hosted by <a href="https://cloud.google.com/">Google Cloud Platform.</a>
          <br>&copy; Resumex. All rights reserved | Base design created by: <a
          href="https://themehippo.com">themehippo</a>.
        <p></p>
      </div>
    </div>
  </div>
  <!--.row-->
</div>
<!-- .container-fluid -->
