<div class="theiaStickySidebar">
  <section class="section-wrapper expertise-wrapper gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Quick overview</h2>
          </div>
        </div>
      </div>
      <!-- .row -->

      <div class="row">
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Profile</h3>

            <p>
              Versatile, interactive and team player.
              <br>TOEIC 905/990 + travelling
            </p>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="expertise-item">
            <h3>Working rights</h3>

            <p>
              Working Holiday Visa subclass 417.
              <br>No work restrictions.
              <br>Valid until October 2019</p>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-6">
            <div class="expertise-item">
              <h3>DevOps Enginer</h3>
  
              <p>
                Senior DevOps Engineer with 7+ years experience
                <br>Backend Developer (Python, Javascript, Groovy, Java)
              </p>
            </div>
          </div>
      </div>
      

        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Contact me</h3>

            <p>
              Find out more in <a href="assets/resume.pdf"><b>my resume</b></a>
              <br>Email: <a href="mailto:jashan.pahwa007@gmail.com">jashan.pahwa007@gmail.com"</a>
              <br>Find me also on <a href="https://www.linkedin.com/in/singhjashan/">LinkedIn</a>
            </p>
          </div>
        </div>

        <!-- <div class="col-md-12">
          <div class="expertise-item">
            <p>
              <b>Dedication is all.</b>
              <br>I do sports to run at <a href="http://www.spartanrace.com.au/en">Spartan races</a>. I discovered dance
              and swung at
              <a href="https://en.lyon-france.com/Archives/Evenements/The-18th-International-Dance-Biennale">The
                International Dance Biennale.</a>
              <br>And now, I travelled 15 000 kms to meet you! <i>What candidate does that?</i>
            </p>
          </div>
        </div> -->

      </div>


    </div>
  </section>
  <!-- .expertise-wrapper -->

  <section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Skills summary</h2>
          </div>
        </div>
      </div>
      <!-- .row -->

      <div class="row">
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Backend Developer</h3>

            <p>
              Java: Spring, Hibernate, Swagger, etc.
              <br>NodeJs Developer
              <br>SOAP / REST microservices, SQL databases
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Frontend Developer</h3>

            <p>
              Profiscient in Javascript
              <br>HTML5 / CSS3
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>DevOps abilities</h3>

            <p>
              Continuous Integration: Jenkins CI, Gitlab CI, Git, etc.
              <br>Continuous testing. Unit & Integration testing.
              <br>Production environment monitoring
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Management & processes</h3>

            <p>
              Worked with Agile teams and on V-Cycle projects
              <br>Believe in Test Driven Developement (TDD)
            </p>
          </div>
        </div>

      </div>


    </div>
  </section>
  <!-- .expertise-wrapper -->

  <section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title"><h2>Work Experience</h2></div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="content-item">

            <small>2013 - 2018</small>
            <h3>Worldline, Atos group</h3>
            <h4>
              Technical Lead, Shared Contact Center project
              <br>
              <small>For a Top 3 European Bank</small>
            </h4>

            <p>
              Technical Lead: Java & NodeJs microservices, Javascript Frontends
              <br>Sprearheaded the project's Software architecture (tech stack, continuous integration, code quality,
              etc.)
            </p>

            <h4>
              Softare Project Manager, IVR systems
              <br>
              <small>For a Top 3 European Bank</small>
            </h4>

            <p>
              Spearheaded a team of Junior Developers
              <br>Responsible for identifying and quantifying the costs of the customer’s needs,
              definition of plannings and planning follow-ups
              <br>Responsible for the production environment with a zero-incident policy challenge
            </p>

            <h4>
              Backend & Software Developer
              <br>
              <small>For a Top 10 World Telecom company</small>
            </h4>

            <p>
              Backend Developer (Java / NodeJS). SOAP & REST microservices. SQL databases.
              <br>Frontend Developer (Javascript). For the French public file storage service.
              <br>Maintenance of the production environment
            </p>
          </div>
          <!-- .experience-item -->

          <div class="content-item">
            <small>2012 - 2013</small>
            <h3>Consulting IT specialist - Freelance</h3>

            <p>
              Selling and developping websites as a freelancer. Tech stack: PHP.
            </p>
          </div>
          <!-- .experience-item -->

          <div class="content-item">
            <small>2011 - 2012</small>
            <h3>Straton IT</h3>

            <p>
              Java Developer
              <br>Responsible of the continuous integration pipelines
            </p>
          </div>
          <!-- .experience-item -->
        </div>
      </div>
      <!--.row-->
    </div>
    <!-- .container-fluid -->

  </section>
  <!-- .section-experience -->

  <section class="section-wrapper section-education gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title"><h2>Education</h2></div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="content-item">
            <small>2003 - 208</small>
            <h3>Professional Diploma</h3>

            <p>
              OWASP Top 10.
              <br>Pre-sale and Client Relationship. Client communication.
              <br>Project Management Level 1.</p>
          </div>
          <!-- .experience-item -->

          <div class="content-item">
            <small>2008 - 2013</small>
            <h3>Masters Degree at IG2I, Central School Lille, France</h3>
            <p>IT & Industrial Engineer. Software Development specialisation</p>
          </div>
          <!-- .experience-item -->

          <div class="content-item">
            <small>2005 - 2008</small>
            <h3>French Baccalaureate with Highest Qualifications</h3>

            <p>High School: Biology & Environmental Science as main subjects + English Certificate</p>
          </div>
          <!-- .experience-item -->
        </div>
      </div>
      <!--.row-->
    </div>
    <!-- .container-fluid -->

  </section>
  <!-- .section-education -->

  <section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Interest</h2>
          </div>
        </div>
      </div>
      <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="content-item">
            <h3>Volunteering</h3>

            <p>
              Dance. I swung at
              <a href="https://en.lyon-france.com/Archives/Evenements/The-18th-International-Dance-Biennale">The
                International Dance Biennale.</a> (300 000 spectators)
              <br>Food and beverages attendant at <a href="http://www.spartanrace.com.au/en">Morzine Spartan race
              European Championship</a>
            </p>
          </div>
          <div class="content-item">
            <h3>Sports</h3>

            <p>Indoor climbing, <a href="http://www.spartanrace.com.au/en">Spartan races</a>.
              <br>Skiing & Hiking.
              <br>Dance!</p>

          </div>
          <div class="content-item">
            <h3>Travelled around</h3>

            <p>Australia NSW in 2013. European countries (Iceland, Italy, England, etc.). Asian countries (sri Lanka,
              Vietnam, Thailand).</p>
          </div>
        </div>
      </div>
      <!-- .row -->

    </div>
  </section>
  <!-- .section-interest -->

  <footer class="footer">
    <app-footer class="copyright-section"></app-footer>
    <!-- .copyright-section -->
  </footer>
</div>
<!-- Sticky -->
