<header class="header theiaStickySidebar">
  <div class="profile-img">
    <img src="assets/img/img-profile.jpg" class="img-responsive" alt=""/>
  </div>
  <div class="content">
    <h1>Hi, I'm Jashan</h1>
    <span class="lead">Senior DevOps Engineer (7+ years)</span>

    <div class="about-text">
      <p>
        Microsoft Azure Certified DevOps Engineer, with expertise in Software
        development and DevOps implementation and proficient experience in software
        development fundamentals using latest cloud technologies , serving the industry for
        more than 6 years. Passionate about learning advanced cloud technologies and
        transforming the legacy monolithic applications to microservices enhancing the
        scalability of the application, contributing to the normalization of the release and
        change management process.
      </p>

      <p><b>Currently available in Ontario, Canada</b>.</p>
    </div>


    <ul class="social-icon">
      <li><b>Find out more:</b></li>
      <li><a href="https://www.linkedin.com/in/singhjashan/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li><a href="https://github.com/dhustlerz"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="assets/resume.pdf"><i class="fa fa-file-word-o" aria-hidden="true"></i></a></li>
    </ul>

    <p>I created this website using Angular & Boostrap. Hosted on Google Cloud Platform.</p>
  </div>

</header>
<!-- .header-->
